*.min
.DS_Store
.editorconfig
.git
.gitattributes
.github
.gitignore
.idea/*
.jest-cache
.jest-coverage
.npmignore
.npmrc
.nvmrc
.prettierignore
.rpt2_cache
.vscode/*
.yarnrc
dist
examples
LICENSE
node_modules
package.json
yarn.lock
